.bg-black{
	background: #191d1e; /* Old browsers */
	background: -moz-linear-gradient(0deg,  #191d1e 50%, #283139 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#191d1e), color-stop(100%,#283139)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* IE10+ */
	background: linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191d1e', endColorstr='#283139',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-attachment: fixed
}
.highlight{
	color: #1ABC9C;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
#primary-menu {
    float: left;
}
.feature-box h3 {
    font-size: 22px;
    color: #000;
}
#header {
	background: #191d1e; /* Old browsers */
	background: -moz-linear-gradient(0deg,  #191d1e 50%, #283139 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#191d1e), color-stop(100%,#283139)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* IE10+ */
	background: linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191d1e', endColorstr='#283139',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-attachment: fixed
}
#header.full-header #primary-menu > ul {
   border: unset;
}
#primary-menu ul li > a {
    color: #fff;
}
#header.sticky-header #header-wrap {
	background: #191d1e; /* Old browsers */
	background: -moz-linear-gradient(0deg,  #191d1e 50%, #283139 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#191d1e), color-stop(100%,#283139)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* IE10+ */
	background: linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191d1e', endColorstr='#283139',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-attachment: fixed
}
.feature-box.fbox-center p {
    font-size: 18px;
}
.slider-caption h2 {
    font-size: 2.5rem;
    line-height: 1.5;
}
.button.button-border:not(.button-fill):hover {
    background-color: #1abc9c;

}
.dark .button.button-border:not(.button-light) {
    border-color: rgb(255 255 255);
    color: rgb(255 255 255);
}
.dark .slider-caption, .dark .slider-caption h2 {
    margin-bottom: 15px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
.team-content {
    font-size: 18px;
}
.portfolio-item {
    width: 33.33%;
}
.portfolio-item .portfolio-image, .portfolio-item .portfolio-image a, .portfolio-item .portfolio-image img {
    display: block;
    width: unset;
    height: 300px;
    max-width: unset;
}
.portfolio-filter li a {
    font-size: 18px;
}
body, .dropdown-menu {
    font-size: 18px;
}
.bg--secondary{
	background-color: #F5F5F5;
	padding-top: 80px;
    padding-bottom: 80px;
}
footer .i-rounded, footer .i-plain , footer .i-circled , footer .i-bordered , footer .social-icon {
    display: inline-block;
	float: none;
	margin-top: 30px !important;
}
.dark #copyrights {
    color: rgb(255 255 255);
}

@media (max-width: 767.98px) {

	.swiper_wrapper:not(.force-full-screen), .swiper_wrapper:not(.force-full-screen):not(.canvas-slider-grid) .swiper-slide {
		height: 285px !important;
	}
	canvas {
		height: 100%!important;
	}
	#primary-menu-trigger {
		opacity: 1;
    pointer-events: auto;
    top: -55px;
    color: #fff;
    margin-top: 0;
    left: 0;
    z-index: 1;
	}
	.portfolio-item .portfolio-image, .portfolio-item .portfolio-image a, .portfolio-item .portfolio-image img {
		width: 100%;
	}
	.portfolio-item .portfolio-image, .portfolio-item .portfolio-image a, .portfolio-item .portfolio-image img {
		height: auto;
	}
	.heading-block {
		padding: 0 50px;
	}
}